html section{
  height: 100vh;
  
  background-size: cover;
  background-repeat: no-repeat;
}
.first-section{
  background-position: bottom;
  background-image: url(images/main-bg.jpg);

}
.second-section{
  background-image: url(images/bg2.jpg);
  background-position: top;

}
.nav{
  /*position: absolute;*/
  

  background: rgba(0, 0, 0, 0.5);

}
.row-text-middle{
  text-align: center;
}
.nav{
  color: #FFFFFF;
  font-family: 'Open Sans';
}
.row{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav [class*="col-"]{
  align-items: center;

}
.nav ul{
  margin-bottom: 0;
}
.menu{

  display: flex;
  flex-direction: row;

}
.first-section .container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.row.nav{
  margin:0
}
.first-section .nav{
  padding:25px 0px;
}
.logo{
  font-size: 24px;
}
.menu li{
  
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  padding:0 16px;
  text-transform: uppercase;
  list-style: none;
}
.btn-primary{
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  color: #000000;
  padding: 20px 56px;
  color: #000000;
  padding: 13px 56px;
  text-transform: uppercase;
  border: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.row-text-middle h1,
.row-text-middle h5{
  color: #FFFFFF;
}

.row-text-middle h1{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 69px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.row-text-middle h5{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin: 40px auto;
/* identical to box height */

  letter-spacing: 2px;
}
section h1{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  
}
section h3{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFFFFF;

  
}
.first-section{
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
}

.first-section .row-bottom{
  height: 10vh;
}

.slider img{
  width: 100%;
}
.slick-dots{
  display: flex;
  justify-content: center;
    
  top: -70px;
  position: relative;

}
.slick-dots button{
  display: block;
  width: 10px;
  height: 10px;
  margin: 10px;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: transparent;
  text-indent: -9999px;
}

.slick-dots li{
  list-style-type: none;
}


.slick-dots li.slick-active button {
  background-color: #FFFFFF;
}
.arrow{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20px;
  width: 10px;
}
.prev{
  background-image: url(images/switch-left.svg);
}

.next{
  background-image: url(images/switch-right.svg);
}

.wrap-slide{
  display: flex;
  justify-content: center;
}

.arrow-wrap{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20vw;
  margin-right: -20px;
  margin-left:-20px;
}

.second-section .row{
  align-items: flex-start;
}

.second-section{
  display: flex;
  align-items: center;

}

.third-section{
  background-image: url(images/features.jpg);
  background-position: top;
  display: flex;
  align-items: center;
}

.third-section .row{
  justify-content: end;
}

.third-section ul li{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  color: #FFB548;
}

.third-section ul{
  list-style: none;
  position: relative;
}

.third-section ul li::before {
  content: "\25CB";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ffffff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.third-section ul li:nth-child(1)::before{
  content: "\25CF"; 
}
.third-section ul li:nth-child(1):after{
  content: "";
  display: inline-block;
  width: 2px;
  background: #FFFFFF;
  position: absolute;
  left: 14px;
  top: 20px;
  height: 58%;
}
/*
.third-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.third-section ul:before {
  content: "";
  display: inline-block;
  width: 2px;
  background: red;
  position: absolute;
  left: 3px;
  top: 5px;
  height: calc(100% - 10px);
}
.third-section ul li {
  position: relative;
  padding-left: 15px;
  margin-bottom: 15px;
}
.third-section ul li:before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: red;
  position: absolute;
  left: 0;
  top: 5px;
  border-radius: 10px;
}
*/
.mt30{
  margin-top:30px;
}

.mt50{
  margin-top:50px;
}

.fourth-section{
  background: radial-gradient(33.26% 45% at 64.32% 47.1%,
  rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%),url(images/req.png);
  background-position: top;
  display: flex;
  align-items: center;
  
}
.fourth-section .row{
  justify-content: start;
}
.fourth-section .row:first-child{
  justify-content: center;
}

.center{
  text-align: center;
}

.fourth-section h3{
  font-size: 14px;
}
table.requirement h4{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: 2px;

  color: #FFB548;
}
table.requirement p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
table.requirement{
  margin-top: 30px;
}

table.requirement td{
  border: 1px solid #979797;
  border-collapse: collapse;
  padding: 15px;
}

.fifth-section{
  background: url(images/topbg.png),url(images/top-score.png);
  display: flex;
  align-items: center;
}

.col-card .card-img-bottom{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  z-index: 1;
}
.elips-orange{
 
  height: 50px;
  width: 50px;
  position: absolute;
  left: 23px;
  top: 18px;

}

.wrap-card-inner{
  display: flex;
  justify-content: flex-start;
}
.col-card .wrap-card-inner{
  display: flex;

}
.wrap-card-inner .card-title{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;


  letter-spacing: 2px;
  margin-left: 20px;
  color: #FFB548;
}
.wrap-card-inner .card-title span{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #FFFFFF;
  opacity: 0.5;

}
.col-card .card{
  border:0
}
.card,.card-body{
  background: rgba(0, 0, 0, 0.8);
}
.card-quote{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  color: #FFFFFF;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card-date{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.5;
}
.tw{
  position: absolute;
  top: 15px;
  right: 15px;
}

.mb30{
  margin-bottom: 30px;
}

.card{
  max-width: 400px;
}

.col-card > div{
  display: flex;
}

.col-card > div:nth-child(odd){
  justify-content: flex-end;
}
.col-card > div:nth-child(even){
  justify-content: flex-start;
}

.txt-games{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  margin-top:10px;
  text-align: justify;

  color: #FFFFFF;
}

.sixth-section{

  background: url(images/shadow.png),url(images/newsletter.png);
  display: flex;
  justify-content: center;
  align-items: center;

}

.sixth-section .row{
  justify-content: space-between;
}
.sixth-section p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */


  color: #FFFFFF;

}
.form-footer{
  display: flex;
}

.form-footer input{
  background: rgba(40, 33, 33, 0.8);
  border: 0;
  height: 50px;
  border-radius: 4px;
  margin-right: 0;

}

.form-footer input::placeholder{
  color: #FFB548;
}
.form-footer .form-group{
  margin-right: 15px;
}

.footer{
  background-image: url(images/newsletter.png);
}

footer .first-row ul{
  display: flex;
    flex-direction: row;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    list-style: none;
}

.sosmed{
  justify-content: flex-end;
}
.sosmed li{
  margin-left: 30px;
}
footer .first-row ul li{
  margin-right: 20px;
}
footer .row.first-row{

  justify-content: flex-end;

}

footer .row.second-row{
  padding-top: 22px;
  padding-bottom: 55px;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

footer .row.second-row .left{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  color: #FFFFFF;

  mix-blend-mode: normal;
  opacity: 0.5;
}

footer .row.second-row .right{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;
}
.row-bottom p{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  /* or 183% */

  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #FFFFFF;
}
img.scroll-down{
  width: 52px;
}
section.nav-mobile{
  display: none;
}
.topnav{
  display: none
}
@media(max-width:992px){
  .third-section .container{
    background-color: rgb(15 14 14 / 60%);
    height: 100%;
    display: flex;
    max-width: 100%;
  }
  .fifth-section,.sixth-section{
    height:auto

  }
  .row-footer div:last-child{
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top:50px;
  }
}
@media(max-width:767px){
  body{
    background: transparent;
  }
  .third-section ul li:nth-child(1):after{
    height: 52%;
  }
  .nav{
    background-color: transparent;
  }
  .topnav{
    display: block;
  }
  section.nav-mobile{
    display: flex;
    position: absolute;
    color: #fff;
    height: 100vh;

  }

  .topnav {
    overflow: hidden;
    background: #FFB548;
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
   background: rgba(0, 0, 0, 0.5);
    color: black;
  }
  
  .active {
    background: rgba(0, 0, 0, 0.5);
    color: white;
  }

  .hide-mob{
    display: none;
  }
  .div-slider{
    margin-top: 30px;
  }
  .third-section {
      background: url(images/features.jpg);
      background-position: center;
      background-size: cover;
  }
  .third-section::after{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    height: 100%;

  }
  section h1{
    font-size: 40px;
  }
  table.requirement h4{
    font-size: 19px;
  }
  table.requirement p{
    font-size: 14px;
  }
  section h3{
    font-size: 20px;
  }
  .fifth-section,.sixth-section{
    height:auto

  }
  .fifth-section .btn-primary{
    margin-bottom: 30px;
  }
  .fifth-section .col-card > div{
    justify-content: center;
  }
  .row-footer div:last-child{
    position: absolute;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    padding-top:50px;
  }
  .footer .container{
    padding-top:40px
  }
  .row.first-row ul{
    flex-wrap: wrap;
    justify-content: center;
  }
  .row.first-row ul li{
    margin:10px;
  }
  .second-row .left{

    
    margin-bottom: 15px;

  }
  .footer .row.second-row{
    justify-content: center;

  }
  .second-row > div{
    display: flex;
    justify-content: center;
  }
  
  .arrow-wrap{
    display: none !important;
  }
}